@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
  --sans-serif-font: 'Fredoka', sans-serif;
  --monospace-font: 'Fira Code', monospace;

  /* Colors */
  --tomato-red: #f8514c;
  --dark-black: #121214;
  --light-black: #202024;
  --white: #ffffff;

  /*Status*/
  --good: #04d361;
  --alert: #ffcd1e;
  --error: #e83f5b;

  /*Weight*/
  --tiny-font-weight: 100;
  --small-font-weight: 200;
  --medium-font-weight: 300;
  --big-font-weight: 400;
  --large-font-weight: 500;
  --huge-font-weight: 600;

  /*Size*/
  --tiny-font-size: 1.3rem;
  --small-font-size: 1.6rem;
  --medium-font-size: 2rem;
  --big-font-size: 2.5rem;
  --large-font-size: 3.2rem;
  --extra-large-font-size: 4rem;
  --huge-font-size: 7.8rem;

  /*Border*/
  --main-border-radius: 5px; 
  --round-border-radius: 50%;

  /*Margin*/
  --tiny-margin: 0.5rem;
  --small-margin: 1.5rem;
  --medium-margin: 2rem;
  --big-margin: 2.5rem;
  --large-margin: 3rem;
  --huge-margin: 3.5rem;

  /*Padding*/
  --tiny-padding: 1rem;
  --small-padding: 1.5rem;
  --medium-padding: 2.5rem;
  --big-padding: 5rem;
  --large-padding: 10rem;
  --huge-padding: 15rem;

  /*Gap*/
  --tiny-gap: 0.5rem;
  --small-gap: 1rem;
  --medium-gap: 1.5rem;
  --big-gap: 2rem;
  --large-gap: 2.5rem;
  --huge-gap: 4rem;
}

html {
  font-size: 62.5%;
  font-family: var(--sans-serif-font);
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: var(--dark-black);
}
