.root {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--huge-gap);
}

.container__title {
	display: inline-flex;
	align-items: center;
	gap: var(--tiny-gap);
	font-family: var(--sans-serif-font);
	color: var(--white);
	font-size: var(--large-font-size);
	font-weight: 600;
}

.title__image {
	width: 34px;
	animation: tomatoMove 1s ease-in-out infinite alternate-reverse;
}

.container__subtitle {
	font-family: var(--monospace-font);
	color: var(--white);
	font-size: var(--medium-font-size);
}

.container__img {
	width: 250px;
}

.container__link {
	padding: var(--small-padding);
	color: var(--tomato-red);
	font-size: var(--small-font-size);
	transition: .3s ease-in-out;
}

.container__link:hover {
	color: var(--white);
	transform: translateY(-5px);
}

@keyframes tomatoMove {
	to {
		transform: rotate(-20deg) scale(1.1);
	}
}
