.root {
	width: 100vw;
	height: 100vh;
	background-color: var(--dark-black);
	padding: var(--tiny-padding);
}

.box-btn {
	background: none;
	font-family: var(--monospace-font);
	font-size: var(--small-font-size);
	color: var(--white);
	border: 0.2rem solid var(--tomato-red);
	border-radius: var(--main-border-radius);
	cursor: pointer;
}

.box-btn:hover {
	background-color: var(--tomato-red);
}

.header {
	width: 100%;
	position: absolute;
	inset: 0 0 auto 0;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--tiny-padding);
}

.header__title {
	display: inline-flex;
	align-items: center;
	font-family: var(--sans-serif-font);
	font-size: var(--big-font-size);
	font-weight: var(--huge-font-weight);
	color: var(--white);
}

.header__title img {
	width: var(--big-font-size);
}

.menu {
	display: inline-flex;
	gap: var(--small-gap);
}

.menu-btn__label {
	display: none;
}

.main {
	width: 100%;
	height: 100%;
	padding-top: var(--big-padding);
}